<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AASharp" version="1.99.1" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.103.16" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.3.107.9" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NModbus4" version="2.1.0" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.2.11" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>