<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AASharp" version="1.93.3" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.5.1.26" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.5.0" targetFramework="net461" />
  <package id="AWSSDK.SimpleEmail" version="3.5.0.28" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.5.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FftSharp" version="1.0.8" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net461" />
  <package id="IntelHexFormatReader" version="2.2.3" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.3.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net461" />
  <package id="MySql.Data.EntityFramework" version="8.0.17" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.10" targetFramework="net461" />
  <package id="NModbus4" version="2.1.0" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.2.11" targetFramework="net461" />
  <package id="ScottPlot" version="4.0.48" targetFramework="net461" />
  <package id="ScottPlot.WinForms" version="4.0.48" targetFramework="net461" />
  <package id="SerialPortStream" version="2.1.2" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Overlapped" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>