<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AASharp" version="1.99.1" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.31.7" targetFramework="net461" />
  <package id="AWSSDK.RDS" version="3.3.38.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net461" />
  <package id="MySql.Data.EntityFramework" version="8.0.15" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NModbus4" version="2.1.0" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.0.13.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>